//Font Import
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Font
$font: 'Poppins', sans-serif;

// Colours
$white: #FFF;
$black: #02020A;
$gray: #E1E2EF;
$blue: #05204A;
$red: #E01A4F;
$green: #7AE7C7;
$purple: #B497D6;
$pink: #BFACAA;

// Viewport Sizes
$sm: 600px;
$md: 768px;
$lg: 1024px;
$xl: 1200px;